.wrapper
  %ul.header__right 
    %li.port
      portfolios 
    %li.ham
      =link_to "#", class: "hambtn" do
        =icon('fas', 'cog')
  .main 
    .main__left 
      %ul.ports
        %li.FreeMa
          FreeMa
        %li.orlov
          B.orlov fragment official web site
        %li.dusty
          dusty mirror web site 
    .main__right 
      %ul.detals
        %li.default
          %h3.image 
            -# = image_tag 'src', alt: '', height: '', width: '', class: ''
          %div.text
            aaaaaaaa 
        %li.F__detail
          %h3.image 
            -# = image_tag 'src', alt: '', height: '', width: '', class: ''
          %div.text
            aaaaaaaa 
        %li.O__detail
          %h3.image 
            -# = image_tag 'src', alt: '', height: '', width: '', class: ''
          %div.text
            aaaaaaaa 
        %li.D__detail
          %h3.image 
            -# = image_tag 'src', alt: '', height: '', width: '', class: ''
          %div.text
            aaaaaaaa 
          

