.wrapper{
  height: 100vh;
  width: 100vw;
  background-color: #34243c;
  position: absolute;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  // opacity: 0;
  .header__right{
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 0 0;
    padding-top: 10px;
  }
  .main{
    background-color: burlywood;
    height: 100vh;
    .main__left{
      background-color: cadetblue;
      float: left;
      clear: both;
      height: 100vh;
      width: calc(100vw - 50%);
      .tab{
        height: 100vh;
        max-height: 223px;
        margin: 0 200px;
        display: block;
        text-align: center;
        
        .FreeMa{
          // display: block;
          // height: 100px;
          background-color: #2e3423;
        }
        .orlov{
          // display: block;
          // height: 100px;
          background-color: #2e3423;
        }
        .dusty{
          // display: block;
          // height: 100px;
          background-color: #2e3423;
        }
      }
      .tab li a{
        display: block;
        background-color:#ddd;
        margin:0 2px;
        padding:20px 20px;
        list-style: none;
        height: 223px;
        // text-align: center;
      }
      .tab li.active a{
        background:#fff;
      }
    }
    .main__right{
      background-color: chartreuse;
      height: 100vh;
      .area{
        display: none;
        opacity: 0;
        background: #fff;
        padding: 50px 20px;
      }
      .area.is-active{
        display: block;
        animation-name: displayAnime;
        animation-duration: 2s;
        animation-fill-mode: forwards;
      }
      @keyframes displayAnime {
        from{
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

